<!--Intro Pinjaman-->
<div class="section section-pinjaman">
  <div class="container">
    <h2 class="title left-pills">Pinjaman yang mudah, cepat dan
      <br> bunga yang bersahabat</h2>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="animated flipInX slow">
          <div class="card">
            <div class="value-props-unit--unit-item--3V7-n">
              <div class="value-props-unit--unit-icon--3-Lsn">
                <img src="../assets/img/icon-45.png" alt="icon-45">
              </div>
              <div class="fx">
                <h4 class="card-peminjaman-title">Terdaftar dan Diawasi OJK</h4>
                <h3 class="card-peminjaman-text">Komunal telah terdaftar di OJK sejak 01
                  Februari 2019.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="animated flipInX slow">
          <div class="card">
            <div class="value-props-unit--unit-item--3V7-n">
              <div class="value-props-unit--unit-icon--3-Lsn">
                <img src="../assets/img/icon-45.png" alt="icon-45">
              </div>
              <div class="fx">
                <h4 class="card-peminjaman-title">Bunga Bersahabat</h4>
                <h3 class="card-peminjaman-text">Pinjaman dengan bunga yang bersahabat dan
                  kompetitif.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="animated flipInX slow">
          <div class="card">
            <div class="value-props-unit--unit-item--3V7-n">
              <div class="value-props-unit--unit-icon--3-Lsn">
                <img src="../assets/img/icon-45.png" alt="icon-45">
              </div>
              <div class="fx">
                <h4 class="card-peminjaman-title">Pinjaman Mudah & Cepat</h4>
                <h3 class="card-peminjaman-text">Pinjaman akan disalurkan 10 hari kerja setelah
                  pengajuan.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Jenis Pinjaman-->
<div class="section section-jenis-pinjaman">
  <div class="container" style="background-color: #193b6d; border-radius: 12px">
    <div class="row row-jenis">
      <div class="col-md-5">
        <h3 class="title left-pills">Jenis Pinjaman</h3>
      </div>
      <div class="col-md-2 text-center">
        <img src="../assets/img/icon-63.png" alt="icon-63" width="150px">
        <h5>Pinjaman <br> UMKM</h5>
      </div>
      <div class="col-md-2 text-center">
        <img src="../assets/img/icon-64.png" alt="icon-64" width="150px">
        <h5>Pinjaman <br> Karyawan</h5>
      </div>
      <div class="col-md-2 text-center">
        <img src="../assets/img/icon-65.png" alt="icon-65" width="150px">
        <h5>Invoice <br> Financing</h5>
      </div>
    </div>
    <div class="row row-jenis" style="padding-top: 0;">
      <div class="col-md-4">
        <h3 class="title left-pills">Syarat dan Ketentuan Pengajuan Pinjaman</h3>
      </div>
      <div id="white-ul-content" class="col-md-8">
        <ul class="white-ul">
          <li style="border-bottom: 1px white solid; padding: 7px;">Pemilik usaha UMKM, minimal sudah
            beroperasi 1 tahun.</li>
          <li style="border-bottom: 1px white solid; padding: 7px;">Karyawan Individu di perusahaan
            yang memiliki afiliasi dengan Komunal.</li>
          <li style="padding: 7px">Berdomisili di wilayah Jawa Timur dan Bali.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Skema Pinjaman-->
<div class="section section2 text-center pt-0">
  <div class="container">
    <h2 class="title center-pills">Skema Peminjam</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-90.png" alt="img" style="width: 100px">
            <img class="hide-t-l i-1" src="../assets/img/ah.jpg" alt="img">
          </div>
          <div class="description">
            <h4 class="info-title">Registrasi</h4>
            <p>Lakukan Pendaftaran sebagai <i>Peminjam Dana.</i> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-40">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-91.png" alt="img" style="width: 100px">
            <img class="hide-t-l i-2" src="../assets/img/ah2.png" alt="img">
          </div>
          <div class="description">
            <h4 class="info-title">Pengajuan Pinjaman</h4>
            <p>Lakukan pengajuan pinjaman pada Dashboard anda.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-88.png" alt="img" style="width: 100px">
            <img class="hide-t-l i-3" src="../assets/img/ah3.png" alt="img">
          </div>
          <div class="description">
            <h4 class="info-title">Pencarian Dana</h4>
            <p>Dana yang telah terkumpul melalui crowdfunding akan disalurkan kepada Anda.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-40">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-92.png" alt="img" style="width: 100px">
          </div>
          <div class="description">
            <h4 class="info-title">Pengembalian Dana</h4>
            <p>Lakukan pengembalian dana beserta bunga sesuai tenor yang disetujui.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---->
<div class="section section-peminjaman">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title left-pills">Suku Bunga & Simulasi <br> Peminjam</h2>
        <div class="sukubunga">
          <h3>Suku Bunga</h3>
          <table class="table table-responsive text-center table-sukubunga">
            <thead>
            <tr>
              <th>Rating</th>
              <th>Suku Bunga <br> Flat</th>
              <th>Suku Bunga <br> Efektif</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>A</th>
              <td>7%-9%</td>
              <td>9%-15%</td>
            </tr>
            <tr>
              <th>B</th>
              <td>9%-12%</td>
              <td>15%-20%</td>
            </tr>
            <tr>
              <th>C</th>
              <td>12%-15%</td>
              <td>20%-25%</td>
            </tr>
            <tr>
              <th>D</th>
              <td>15%-18%</td>
              <td>25%-30%</td>
            </tr>
            <tr>
              <th>E</th>
              <td>18%-20%</td>
              <td>30%-36%</td>
            </tr>
            </tbody>
          </table>
          <p style="font-size: 12px"><i>*belum termasuk biaya admin 2% per tahun dari nilai
            pinjaman.</i></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="sukubunga">
          <h3>Simulasi Peminjam</h3>
          <form id="simulasiPinjaman">
            <div class="form-group form-group-dana">
              <label class="label-dana" for="inputJumlah">Jumlah Pinjaman</label>
              <input type="text" name="jumlah" class="form-control form-dana" id="inputJumlah">
              <label id="error-jumlah" class="error-sukubunga"></label>
            </div>
            <div class="form-row">
              <div class="form-group form-group-dana col-md-6 col-6">
                <label class="label-dana" for="inputBunga">Suku Bunga %</label>
                <input type="text" name="bunga" class="form-control form-dana" id="inputBunga">
                <label id="error-bunga" class="error-sukubunga"></label>
              </div>
              <div class="form-group form-group-dana col-md-6 col-6">
                <label class="label-dana" for="inputTenor">Tenor</label>
                <label id="error-tenor" class="error-sukubunga"></label>
                <select id="inputTenor" name="tenor" class="form-control form-dana">
                  <option value="1">1 Bulan</option>
                  <option value="3">3 Bulan</option>
                  <option value="5">5 Bulan</option>
                  <option value="6">6 Bulan</option>
                  <option value="12">12 Bulan</option>
                  <option value="18">18 Bulan</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label class="label-dana">Tipe Pengembalian : </label>
              </div>
              <div class="form-group col-md-3 col-6">
                <div class="form-check-radio color-radio">
                  <label class="form-check-label label-radio-dana">
                    <input class="form-check-input" type="radio" name="jenis_pembayaran"
                           id="idBulanan" value="bulanan" checked> Bulanan
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-4 col-6">
                <div class="form-check-radio color-radio">
                  <label class="form-check-label label-radio-dana">
                    <input class="form-check-input" type="radio" name="jenis_pembayaran"
                           id="idPenuh" value="penuh"> Bullet/Penuh
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 1rem;">
              <div class="col-md-3 col-3 align-self-center">
                <img class="img-simulasi" src="../assets/img/icon-66.png" alt="icon-66"
                     width="140px">
              </div>
              <div class="col-md-9 col-9">
                <h4 id="judul"
                    style="font-weight:500; color: #98B825 !important; font-size: 20px">
                  <i>Estimasi Pembayaran Dana Perbulan : </i></h4>
                <h4 id="income"
                    style="margin-top: 10px;font-weight:600;font-size:28px; color: #98B825 !important">
                  IDR 0</h4>
              </div>
            </div>
            <a href="javascript:void(0)" class="btn-pendanaan" (click)="kalkulasi_pinjaman()"
               style="font-weight:600">kalkulasi Peminjaman
            </a>
          </form>
        </div>
        <p style="font-size: 12px; margin-top: 10px"><i>*belum termasuk biaya admin 2% per tahun dari
          nilai
          pinjaman.</i></p>
      </div>
    </div>
  </div>
</div>
