<!--Judul-->
<div class="section section2 text-center" style="margin-top: 70px; padding-bottom: 0">
  <div class="container">
    <h2 class="title center-pills">Kebijakan Privasi</h2>
  </div>
</div>

<!--Content-->
<div class="section section-kebijakan">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>LATAR BELAKANG</h2>
        <p>PT Komunal Finansial Indonesia (“Komunal”) adalah perusahaan yang telah terdaftar dan diawasi
          oleh Otoritas Jasa Keuangan sebagai Penyelenggara Layanan Pinjam Meminjam Uang Berbasis
          Teknologi Informasi yang menyediakan, mengelola, dan mengoperasikan Layanan Pinjam Meminjam
          Uang Berbasis Teknologi Informasi (“Layanan”) berdasarkan Peraturan Otoritas Jasa Keuangan
          Nomor 77/POJK.01/2016 tentang Layanan Pinjam Meminjam Uang Berbasis Teknologi Informasi
          ("POJK 77").</p>
        <p>Layanan yang disediakan Komunal adalah layanan jasa keuangan untuk mempertemukan pemberi
          pinjaman dengan penerima pinjaman dalam rangka melakukan perjanjian pinjam meminjam dalam
          mata uang Rupiah secara langsung melalui sistem elektronik yang dioperasikan Komunal, baik
          melalui situs atau versi telepon seluler dari situs dan/atau aplikasi telepon seluler dalam
          sistem operasi Android atau IOS. Layanan ini dapat berubah dari waktu ke waktu sesuai
          diskresi manajemen Komunal tanpa perlu memperoleh izin dari pihak manapun.</p>
        <p>Prosedur Manajemen Data Pribadi (“PMDP”) ini bersifat mengikat, dianggap telah dibaca dan
          dipahami oleh setiap Pengguna sebagaimana dimaksud dalam Pasal 1 ayat 9 POJK 77. PMDP ini
          dirancang untuk membantu Pengguna mengerti bagaimana Komunal mengumpulkan, menggunakan,
          mengungkapkan, dan/atau mengolah Data Pribadi Pengguna. PMDP ini berlaku dan bersifat
          mengikat secara Hukum dalam konteks:</p>
        <p>Pemberi Pinjaman, yaitu selama Pemberi Pinjaman:</p>
        <ol type="a">
          <li>Masih terdaftar sebagai Pengguna pada Portal Komunal berdasarkan Perjanjian Pengguna
            Komunal sebagai dasar hukum yang mengawali, meresmikan dan mengikat Pemberi Pinjaman
            secara Hukum sebagai Pengguna Layanan Komunal berdasarkan POJK 77 (“Perjanjian
            Pengguna”), dan/atau;</li>
          <li>Masih memiliki hak tagih atas pengembalian, pembayaran dan pelunasan piutang dari
            Penerima Pinjaman berdasarkan Perjanjian Pinjaman, berikut perubahannya dari waktu ke
            waktu termasuk dokumen pendukung dan jaminan lainnya (“Perjanjian Pinjaman”).</li>
        </ol>
        <p>Penerima Pinjaman, yaitu selama Penerima Pinjaman:</p>
        <ol type="a">
          <li>Masih memiliki kewajiban dan tanggung jawab finansial untuk melunaskan pinjaman terhadap
            Pemberi Pinjaman berdasarkan Perjanjian Pinjaman, dan/atau;</li>
          <li>Masih dalam proses pengajuan permohonan perolehan pinjaman melalui Komunal.</li>
        </ol>
        <h2>CAKUPAN DAN PENGUMPULAN DATA PRIBADI</h2>
        <p>Cakupan definisi Data Pribadi termasuk, tetapi tidak terbatas pada, segala data, informasi,
          dan dokumen pendukung Pengguna dan/atau pihak terkait Pengguna (keluarga, rekan, karyawan,
          dan/atau pihak lain yang terkait dengan Pengguna) termasuk data, informasi, dan dokumen
          turunannya yang:</p>
        <ol type="a">
          <li>Diperoleh Komunal dari Pengguna atas yang diserahkan, disingkapkan, diunduh atau
            diajukan Pengguna melalui Portal Komunal, telepon, alat sistem dan/atau sumber daya
            Komunal;</li>
          <li>Wajib diserahkan atau telah diberikan oleh Pengguna berdasarkan ketentuan Perjanjian
            Pengguna dan/atau Perjanjian Pinjaman atau secara sukarela dari waktu ke waktu;</li>
          <li>Dari pihak ketiga lainnya yang diizinkan oleh Pengguna dan sumber-sumber yang tersedia
            untuk umum termasuk lembaga atau biro penilai kredit;</li>
          <li>Dalam kaitannya dengan setiap kunjungan Pengguna ke sistem elektronik Komunal.</li>
        </ol>
        <h2>PENGGUNAAN DATA PRIBADI</h2>
        <p>Dari waktu ke waktu, Komunal berhak meminta, memperoleh, mengumpulkan, mengolah, menyimpan,
          dan menggunakan Data Pribadi Pengguna untuk:</p>
        <ol type="a">
          <li>Pemeriksaan, analisis, verifikasi, atau validasi terhadap permohonan perolehan pinjaman,
            permohonan pendaftaran sebagai Pemberi Pinjaman, dan/atau profil Pengguna;</li>
          <li>Pemeriksaan, analisis, verifikasi, atau validasi terhadap permohonan perolehan pinjaman,
            permohonan pendaftaran sebagai Pemberi Pinjaman, dan/atau profil Pengguna;</li>
          <li>Pelaksanaan dan pengawasan atas pelaksanaan Perjanjian Pengguna dan/atau Perjanjian
            Pinjaman;</li>
          <li>Pelaksanaan kegiatan usaha dan operasional Komunal dari waktu ke waktu dengan iktikad
            baik;</li>
          <li>Survey, riset, evaluasi dan/atau pengembangan produk atau layanan Komunal atau pihak
            terkait yang berkepentingan; dan/atau</li>
          <li>Penegakan hukum dan kepatuhan Komunal terhadap ketentuan hukum dan perundang-undangan
            yang berlaku.</li>
        </ol>
        <p>Tujuan-tujuan tersebut diatas tetap menjadi dasar hukum bagi Komunal untuk menyimpan,
          mengolah dan menggunakan Data Pribadi Pengguna sekalipun Pengguna tidak lagi terikat pada
          PMDP ini, dan untuk menggunakannya, menyerahkannya, atau menyingkapkannya dengan iktikad
          baik kepada:</p>
        <ol>
          <li>Bank, biro penilai kredit, agen penagihan atau penyedia jasa pihak ketiga lain yang
            berkepentingan selama terikat pada suatu tanggung jawab kerahasiaan atas Data Pribadi
            Pengguna;</li>
          <li>Pihak manapun yang terkait atau merupakan bagian dari Komunal dan berada dalam tanggung
            jawab kerahasiaan atas Data Pribadi Pengguna untuk tujuan tertentu; dan/atau</li>
          <li>Otoritas Jasa Keuangan, pengadilan, kejaksaan, kepolisian, institusi pemerintah lainnya
            baik atas inisiatif Komunal atau sebagaimana diwajibkan oleh ketentuan hukum dan
            peraturan perundang-undangan, kebijakan institusi pemerintah atau pejabat pemerintah.
          </li>
        </ol>
        <h2>KEAMANAN DATA PRIBADI</h2>
        <p>Komunal berkomitmen untuk menjaga keamanan Data Pribadi Pengguna. Hanya sejumlah karyawan
          yang memiliki akses penuh ke data tersebut dan sebagian besar hanya memiliki akses ke bagian
          tertentu dari data yang diperlukan dalam rangka melakukan tugas-tugas mereka sebagai bagian
          dari layanan Komunal.</p>
        <p>Penyimpanan Data Pribadi oleh Komunal adalah selama paling singkat 5 (lima) tahun sesuai
          ketentuan 15 ayat (3) Peraturan Menteri Komunikasi dan Informatika Nomor 20 Tahun 2016
          tentang Perlindungan Data Pribadi dalam Sistem Elektronik. Komunal akan melakukan
          penyimpanan ini sesuai kebijakan atau diskresi pribadinya, baik melalui sistem Komunal,
          server atau sumber data pihak lain atau penyedia jasa pihak ketiga lain di dalam wilayah
          Republik Indonesia.</p>
        <p>Komunal akan menempatkan pengaturan pengamanan yang wajar untuk memastikan Data Pribadi
          Pengguna cukup terlindungi dan aman. Pengaturan pengamanan yang sesuai akan dilakukan untuk
          mecegah akses, pengumpulan, penggunaan, kebocoran dan/atau perubahan yang tidak sah terhadap
          Data Pribadi Pengguna. Namun, pihak Komunal tidak bertanggung jawab atas setiap penggunaan
          tidak sah dari Data Pribadi Pengguna oleh para pihak ketiga yang sepenuhnya disebabkan oleh
          faktor-faktor di luar kendali Komunal.</p>
        <p>Komunal akan meninjau, menyesuaikan, dan berkonsultasi dengan penyedia jasa keamanan
          finansial secara berkala berdasarkan penilaian resiko yang sedang berlangsung atau
          pelanggaran keamanan untuk terus menerus melakukan peningkatan keamanan Data Pribadi
          Pengguna.</p>
        <h2>BATASAN DAN GANTI RUGI</h2>
        <p>Komunal berkomitmen untuk tidak memperjualbelikan Data Pribadi Pengguna kepada pihak manapun,
          dan termasuk mengupayakan sewajarnya bahwa setiap karyawannya tidak terlibat dalam kegiatan
          jual-beli Data Pribadi Pengguna kepada siapapun. Namun Komunal tidak bertanggung jawab atas
          kerugian dalam wujud apapun atau resiko kerugian yang Pengguna alami maupun pihak manapun
          akibat atau terkait dengan Data Pribadi tersebut meliputi kegagalan atas perlindungan
          kerahasiaan Data Pribadi, penyerahan, akses, perolehan, pengolahan, penyimpanan atau
          penggunaannya maupun pengalihannya, termasuk sengketa, investigasi, audit, penegakan hukum
          dan proses penyelidikan apapun, yang tidak terbukti disebabkan atau melibatkan Komunal
          maupun karyawan, perwakilan, kuasa, afiliasi atau pihak terkait lainnya ("Kerugian dan
          Masalah Hukum").</p>
        <p>Demi kejelasan, kepastian hukum dan transparansi:</p>
        <p>Komunal tidak akan memberi ganti rugi, merespon, dilibatkan, atas setiap klaim, tuntutan,
          permintaan atau pernyataan apapun yang timbul dari atau terkait Kerugian dan masalah hukum
          yang diajukan tanpa menyertakan perhitungan pasti yang telah dikuantifisir, akurat dan dapat
          dipertanggungjawabkan atas kerugian riil dan langsung (factual and direct damage) yang
          Pengguna alami, berikut bukti yang dapat diterima oleh pengadilan atau institusi judisial
          terkait mengenai kesalahan atau kelalaian Komunal berdasarkan Pasal 1865 dan 1866 Kitab
          Undang-Undang Hukum Perdata, Pasal 164 Het Herziene Indonesisch Reglement dan Pasal 5ayat 1
          Undang-Undang Nomor 11 Tahun 2008 tentang Informasi danTransaksi Elektronik. Ketentuan ini
          berlaku untuk Komunal, berikut karyawan, anak perusahaan, afiliasi atau perwakilannya;</p>
        <p>Komunal tidak bertanggung jawab atas akurasi, keabsahan, legalitas dan kelengkapan Data
          Pribadi Pengguna dan tidak diwajibkan untuk memberitahu Pengguna atau pihak manapun perihal
          tersebut kecuali diwajibkan secara hukum; dan/atau</p>
        <p>Komunal tidak bertanggung jawab atas pelanggaran hukum Pengguna atau hak pihak ketiga manapun
          akibat atau terkait perolehan atau pemberian Data Pribadi. Dalam hal terdapat Penunjukan
          Pihak Ketiga untuk Penyimpanan Data Pribadi, maka Pengguna tidak dapat menuntut, meminta
          ganti rugi atau manfaat apapun dari Komunal maupun karyawan, kuasa, perwakilan, afiliasi
          atau pihak terkait Komunal dalam hal terjadi pelanggaran kerahasiaan atau kegagalan
          perlindungan rahasia Data Pribadi atau Kerugian dan Masalah Hukum yang melibatkan,
          disebabkan atau dilakukan pihak ketiga penyimpan Data Pribadi yang bersangkutan. Namun
          demikian, Komunal tetap akan berupaya sewajarnya untuk memberitahu Pengguna terkait perihal
          pelanggaran kerahasiaan tersebut ketika Komunal mengetahuinya dari pihak ketiga.</p>
        <h2>PERUBAHAN TERHADAP PMDP</h2>
        <p>Oleh sebab Komunal terus berusaha untuk meningkatkan Layanan kepada Pengguna, Komunal akan
          mengulas dan merubah kebijakan PMDP dari waktu ke waktu. Setiap perubahan kebijakan PMDP
          yang dilakukan di masa mendatang akan dibagikan di situs Komunal. Mohon untuk sering
          memeriksa kembali SItus Komunal dalam rangka paparan terhadap pemuktahiran (update)
          kebijakan PMDP Komunal.</p>
      </div>
    </div>
  </div>
</div>
