<!--Carousel Item-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol id="indicator-home" class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="page-header header-filter" data-parallax="true"
           style="background-image: url('./assets/img/l-505.png');">
        <div class="gradasi"></div>
        <div class="container">
          <div class="motto row">
            <div id="fi-col-6" class="animated fadeInDown slow col-md-6">
              <h4 style="font-size: 2.5rem; margin-bottom: -20px"><b>Berbagai macam layanan dan
                fitur
                terbaru dari
                komunal</b></h4>
              <h3 id="motto-row-h3" class="line-1 anim-typewriter">#TumbuhBersamaKomunitas</h3>
            </div>
            <div class="col-md-3 mx-auto">
              <div class="animated bounceInDown slow">
                <div id="asuransi-m10" class="card only-768"
                     style="width: 15rem; background-color : #b7dcfc">
                  <div class="father-of-dot">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                  <div class="card-body" style="margin-top: 0px;
                                    padding-top: 0px;">
                    <h6 class="card-title-seg2">Asuransi <br> Kredit</h6>
                    <h4 class="card-par-seg2">Asuransi kredit meng-
                      cover 80% dari nilai pinjaman yang tidak terbayar setelah 90 hari.
                    </h4>

                  </div>
                </div>
              </div>
            </div>
            <div id="autole" class="col-md-3 mx-auto">
              <div class="animated bounceInUp slow">
                <div class="card only-768" style="width: 15rem;">
                  <div class="father-of-dot">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                  <div class="card-body" style="margin-top: 0px;
                                            padding-top: 0px;">
                    <h6 class="card-title-seg2" style="color: #5d95c5">Auto- <br> Lending
                    </h6>
                    <h4 class="card-par-seg2" style="color: #5d95c5;">Mempermudah Anda untuk
                      memaksimalkan dana
                      investasi sesuai
                      bunga dan tenor yang Anda kehendaki!</h4>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="page-header header-filter" data-parallax="true"
           style="background-image: url('./assets/img/l-505.png');">
        <div class="gradasi"></div>
        <div class="container">
          <div id="se-col-6" class="motto row">
            <div id="berikan-top" class="animated fadeInDown slow col-md-6">
              <h1 style="font-size: 2.5rem; margin-bottom: -20px"><b>Pinjaman Ringan dan Garansi
                dari
                Komunal</b></h1>
              <h3 id="motto-row-h3" class="line-1 anim-typewriter">#TumbuhBersamaKomunitas</h3>
            </div>
            <div class="col-md-3 mx-auto">
              <div class="animated bounceInDown slow">
                <div class="card only-768" style="width: 15rem;">
                  <div class="card-body text-center">
                    <h4 class="card-title">Dapatkan garansi pinjaman hingga</h4>
                    <h6 class="card-subtitle mb-2 text-muted">100%</h6>
                    <p class="card-text-com">dari pokok pinjaman</p>
                    <button class="btn btn-primary">Berikan Pinjaman</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mx-auto">
              <div class="animated bounceInUp slow">
                <div id="berikan" class="card only-768" style="width: 15rem;">
                  <div class="card-body text-center">
                    <h4 class="card-title">Pinjaman bunga ringan mulai dari</h4>
                    <h6 class="card-subtitle mb-2 text-muted">0.75%</h6>
                    <p class="card-text-com">per bulan</p>
                    <button class="btn btn-outline-danger">Ajukan Pinjaman</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--Why Komunal ?-->
<div id="sec1" class="section section1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <h1 class="title">Mengapa Komunal?</h1>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-home">
              <div class="icon icon-danger">
                <img src="assets/img/icon-93.png" alt="" style="width: 100px">
              </div>
              <div class="description">
                <h4 class="info-title">Terdaftar dan Diawasi OJK</h4>
                <p class="description">Komunal telah terdaftar dan diawasi oleh Otoritas Jasa
                  Keuangan (OJK) Sejak 01 Februari 2019</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-home">
              <div class="icon icon-danger">
                <img src="assets/img/icon-94.png" alt="" style="width: 98px">
              </div>
              <div class="description">
                <h4 class="info-title">Bunga Kompetitif</h4>
                <p>Mendanai Mulai IDR 250,000, maksimal pendanaan anda dengan bunga yang
                  kompetif</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="info info-home">
              <div class="icon icon-danger">
                <img src="assets/img/icon-95.png" alt="" style="width: 100px">
              </div>
              <div class="description">
                <h4 class="info-title">Transparan, Aman dan Nyaman</h4>
                <p class="description">Nikmati pendanaan yang transparan, aman dan nyaman</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-home">
              <div class="icon icon-danger">
                <img src="assets/img/icon-96.png" alt="" style="width: 100px">
              </div>
              <div class="description">
                <h4 class="info-title">Proses Mudah & Cepat</h4>
                <p>Penuhi kebutuhan finansial Anda dengan mudah dan cepat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Data Terkini-->
<div id="sec3" class="section section3">
  <div class="container">
    <div class="null" style="margin-top: -400px; z-index: -1;">
      <div class="card card-primary" style="width: 28rem;">
        <div class="card-body" style="margin:0px">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/icon-82.png" alt="icon-09" style="max-width: 150%;">
            </div>
            <div class="col-md-9 align-self-center">
              <h4 id="tot_pinjam" class="card-title3">-</h4>
              <p class="card-text3">Akumulasi Pinjaman Sejak Berdiri.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-foto" style="width: 7rem;">
        <img class="card-img-top" src="./assets/img/icon-51.png" alt="Card image cap">
      </div>
      <div class="cardcopy card-foto2" style="width: 7rem;">
        <img class="card-img-top" src="./assets/img/icon-52.png" alt="Card image cap">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12">
        <h1 class="title">Data Terkini</h1>
      </div>
      <div id="tablet-col-ak" class="col-lg-10 col-md-12">
        <div class="row row-akumulasi">
          <div id="akumulasi-mobile" class="col-md-12 col-lg-12 center-pills">
            <div class="card home-card-rem" style="background-color: #193b6d">
              <div class="card-body card-body-data">
                <div class="row">
                  <div class="col-md-3 text-center col-lg-4 col-4 align-self-center"
                       style="margin: 0;padding-left: 0px;padding-right: 0px;">
                    <img src="./assets/img/icon-82.png" alt="icon-09">
                  </div>
                  <div class="col-md-8 col-8 align-self-center" style="padding-left: 0px;">
                    <h4 id="total_resp" class="card-title2" style="color: #fff">-</h4>
                    <p class="card-text" style="color: #fff; font-weight: 600">Akumulasi
                      Pinjaman Sejak
                      Berdiri.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 center-pills">
            <div class="card home-card-rem">
              <div class="card-body card-body-data">
                <div class="row">
                  <div class="col-md-4 col-4 align-self-center"
                       style="margin: 0;padding-left: 0px;padding-right: 0px;">
                    <img src="./assets/img/icon-81.png" alt="icon-09">
                  </div>
                  <div class="col-md-8 col-8 align-self-center" style="padding-left: 0px;">
                    <div class="row">
                      <div class="col-4 col-md-4 col-lg-4" style="padding-right: 0px;">
                        <h4 id="all_bor" class="card-title2"></h4>
                      </div>
                      <div class="col-8 col-md-8 col-lg-8" style="padding-left: 0px;
                                                    padding-right: 0px;
                                                    margin-top: 5px;">
                        <p id="all_bor_individu"
                           style="font-weight: 600;font-size: 10px;color: silver; font-style: italic">
                          <i>-
                            Individu</i></p>
                        <p id="all_bor_usaha"
                           style="font-weight: 600;font-size: 10px;color: silver; font-style: italic">
                          <i>-
                            Badan Usaha</i></p>
                      </div>
                    </div>
                    <p class="card-text">Jumlah Akumulasi Borrower</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 center-pills">
            <div class="card home-card-rem">
              <div class="card-body card-body-data">
                <div class="row">
                  <div class="col-md-4 col-4 align-self-center"
                       style="margin: 0;padding-left: 0px;padding-right: 0px;">
                    <img src="./assets/img/icon-83.png" alt="icon-09">
                  </div>
                  <div class="col-md-8 col-8 align-self-center" style="padding-left: 0px;">
                    <div class="row">
                      <div class="col-4 col-md-4 col-lg-4" style="padding-right: 0px;">
                        <h4 id="active_bor" class="card-title2"></h4>
                      </div>
                      <div class="col-8 col-md-8 col-lg-8" style="padding-left: 0px;
                                                    padding-right: 0px;
                                                    margin-top: 5px;">
                        <p id="active_bor_individu"
                           style="font-weight: 600;font-size: 10px;color: silver; font-style: italic">
                          <i>-
                            Individu</i></p>
                        <p id="active_bor_usaha"
                           style="font-weight: 600;font-size: 10px;color: silver; font-style: italic">
                          <i>-
                            Badan Usaha</i></p>
                      </div>
                    </div>
                    <p class="card-text">Jumlah Borrower Aktif</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 center-pills">
            <div class="card home-card-rem">
              <div class="card-body card-body-data">
                <div class="row">
                  <div class="col-md-4 col-4 align-self-center"
                       style="margin: 0;padding-left: 0px;padding-right: 0px;">
                    <img src="./assets/img/icon-84.png" alt="icon-09">
                  </div>
                  <div class="col-md-8 col-8 align-self-center" style="padding-left: 0px;">
                    <h4 id="tot_pinjam_jalan" class="card-title2">-</h4>
                    <p class="card-text">Akumulasi Pinjaman Sepanjang Tahun Berjalan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 center-pills">
            <div class="card home-card-rem">
              <div class="card-body card-body-data">
                <div class="row">
                  <div class="col-md-4 col-4 align-self-center"
                       style="margin: 0;padding-left: 0px;padding-right: 0px;">
                    <img src="./assets/img/icon-09.png" alt="icon-09">
                  </div>
                  <div class="col-md-8 col-8 align-self-center" style="padding-left: 0px;">
                    <h4 id="outstand" class="card-title2">-</h4>
                    <p class="card-text">Total Outstanding Pinjaman</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Peluang Pendanaan-->
<div class="section section2 text-center">
  <div class="container">
    <h2 class="title center-pills">Peluang Pendanaan</h2>
    <div class="row">
      <div class="col-md-12 text-left">
        <div id="peluang_proyek" class="loop">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Testimonial-->
<div class="section section2 text-center">
  <div class="container">
    <h2 class="title center-pills">Customer Stories</h2>
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-slider" class="owl-carousel">
          <div class="testimonial">
            <div class="testimonial-profile">
              <img src="assets/img/uji.png" alt="">
            </div>
            <h3 class="testimonial-title">Uji Prasetya</h3>
            <h3 class="testimonial-desc">Borrower | Bengkel Mobil</h3>
            <h6 style="text-align:left"><a href="#" data-toggle="modal" data-target="#ujivid"><i
              class="fa fa-play-circle fa-2x"></i></a></h6>
            <p class="testimonial-description">
              Hampir 1 dekade ini bengkel kita berjalan dengan baik. Ternyata di awal tahun 2018
              itu kita
              menghadapi penurunan omset yang cukup signifikan. Terima kasih untuk Komunal yang
              telah
              menjadi salah satu bagian yg mensupport kami untuk mengembalikan bisnis kami ini
              menjadi
              lebih baik lagi.
            </p>
          </div>
          <div id="ujivid" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
               aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div id="frameyt" class="modal-content">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qlzf7vH4Z44"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="testimonial-profile">
              <img src="assets/img/paulus.png" alt="">
            </div>
            <h3 class="testimonial-title">Paulus Lie</h3>
            <h3 class="testimonial-desc-lender">Lender Sejak Juli 2019</h3>
            <h6 style="text-align:left;margin-bottom: 58px"><a href="#"><i
              class="fa fa-play-circles fa-2x"></i></a></h6>
            <p class="testimonial-description">
              Jadi kalau soal Komunal, menurut saya ini menarik ya. Karena ini merupakan salah
              satu fintech
              yang asli dari Surabaya. Ini aku ngalamin sendiri, disini kita bisa jadi salah satu
              opsi investasi.
              Jadi kita bisa meminjamkan orang dengan return yang lumayan besar.
            </p>
          </div>
          <div class="testimonial">
            <div class="testimonial-profile">
              <img src="assets/img/ina.png" alt="">
            </div>
            <h3 class="testimonial-title">Laksadien</h3>
            <h3 class="testimonial-desc">Borrower | Salon Eliss</h3>
            <h6 style="text-align:left"><a href="#" data-toggle="modal" data-target="#inavid"><i
              class="fa fa-play-circle fa-2x"></i></a></h6>
            <p class="testimonial-description">
              Saya tahu bahwa untuk modal yang saya butuhkan proses di perbankan sangat panjang
              dan
              melelahkan. Di Komunal, saya memberikan pengajuan, interview, survey, modal yang
              saya
              butuhkan cair dalam 10 hari. Jika suatu hari saya ingin usaha baru lagi, Komunal
              bantu ya!
            </p>
          </div>
          <div id="inavid" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
               aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div id="frameyt" class="modal-content">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5cMuh5AaTpo"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="testimonial-profile">
              <img src="assets/img/hanwin.png" alt="">
            </div>
            <h3 class="testimonial-title">Hanwin Cahyono</h3>
            <h3 class="testimonial-desc-lender">Lender sejak Maret 2019 </h3>
            <h6 style="text-align:left;margin-bottom: 58px"><a href="#"><i
              class="fa fa-play-circles fa-2x"></i></a></h6>
            <p class="testimonial-description">
              Konsepnya sebenarnya sangat simple sekali. Bagi Lender, untuk masuk ke dalam sana
              itu
              nggak susah. Dan yang kedua, Komunal memberikan bunga yang kompetitif dibandingkan
              kompetitor lain.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Partner Komunal-->
<div id="partner" class="section section2 text-center">
  <div class="container">
    <h2 class="title center-pills">Partner Kami</h2>
    <div class="row">
      <div class="col-md-4 col-4 text-center align-self-center">
        <img src="assets/img/bca.jpg" alt="img">
      </div>
      <div class="col-md-4 col-4 text-center align-self-center">
        <img src="assets/img/cimb.jpg" alt="img">
      </div>
      <div class="col-md-4 col-4 text-center align-self-center">
        <img src="assets/img/qoala.jpg" alt="img">
      </div>
    </div>
  </div>
</div>

<!--Download Aplikasi Komunal-->
<div class="section section-responsive section-gold">
  <div class="container-fluid">
    <div class="row">
      <div id="right-hp" class="col-lg-6 col-md-6">
        <img class="handphone" src="./assets/img/komunal-app.png">
      </div>
      <div id="col-hp" class="col-lg-4 col-md-6">
        <h4 class="info-title-hp">Makin Dekat Dengan Komunal</h4>
        <p class="info-desc-hp">Temukan Komunal dalam genggamanmu! <br> Download aplikasi Komunal di
          Google Store dan App Store sekarang.</p>
        <div class="row">
          <div class="col-md-12">
            <a href="https://play.google.com/store/apps/details?id=id.co.komunal" target="_blank"
               class="store-logo">
              <img src="./assets/img/App-1.png" alt="Mountains" style="width:120px">
            </a>
            <a href="https://apps.apple.com/id/app/komunal/id1459394611?l=id" target="_blank"
               class="store-logo">
              <img src="./assets/img/apple-store.png" alt="Mountains" style="width:120px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1000, 2],
            itemsDesktopSmall: [979, 2],
            itemsTablet: [767, 1],
            pagination: true,
            autoPlay: false
        });
    });
</script>
