<!-- Layanan Pelanggan -->
<div class="section section-layanan">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title left-pills">Layanan Pelanggan</h2>
      </div>
      <div class="col-md-8 align-self-center text-justify">
        <p>Komunal berkomitmen untuk terus memberikan pelayanan aktivitas P2P lending yang terbaik, aman, dan nyaman untuk Anda. Berikut adalah beberapa hal yang perlu Anda ketahui mengenai media dan skema pengaduan di Komunal.</p>
      </div>
    </div>
  </div>
</div>

<!-- Section maps and box -->
<div class="container layanan-map">
  <div class="row">
    <div class="col-md-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.8350312463904!2d112.72358521427932!3d-7.2596080947597885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7f9b1fdfc544b%3A0x3b6fd8c00e59e988!2sPT+Komunal+Finansial+Indonesia+-+Fintech+P2P+Lending!5e0!3m2!1sid!2sid!4v1564136182111!5m2!1sid!2sid"
        width="100%" height="460" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-8">
      <div class="fitur-layanan">
        <div class="container">
          <div class="row top-line">
            <div class="col-md-5 col-sm-12 ml-auto">
              <div class="info">
                <div class="icon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <h5 class="title">Alamat</h5>
                <p class="hub-desc">Jln. Greges No. 3A
                  Sawahan
                  Kec. Sawahan, Surabaya
                  Jawa Timur, 60251</p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 mr-auto">
              <div class="info">
                <div class="icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <h5 class="title">Telepon</h5>
                <p class="hub-desc">(031)99243972</p>
              </div>
            </div>
          </div>
          <div class="row bottom-line">
            <div class="col-md-5 col-sm-12 ml-auto">
              <div class="info">
                <div class="icon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <h5 class="title">Email</h5>
                <p class="hub-desc">hello@komunal.co.id</p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 mr-auto">
              <div class="info">
                <div class="icon">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </div>
                <h5 class="title">WhatsApp</h5>
                <p class="hub-desc">082140377707</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End of section maps and box -->

<!-- Keuntungan Peminjam -->
<div class="section section-mekanisme">
  <div class="container">
    <h2 class="title left-pills">Mekanisme Pengaduan</h2>
    <div class="row">
      <div class="col-md-3">
        <svg width="45" height="45" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <circle class="yellow" cx="24" cy="24" r="24"></circle><text font-family="montserrat"
                                                                       font-size="17" font-weight="bold" fill="#FFF" text-anchor="middle" x="23.5"
                                                                       y="30.5">01.</text>
        </svg>
        <p>Pengguna mengajukan pengaduan melalui Tim CS Komunal.</p>
      </div>
      <div class="col-md-3">
        <svg width="45" height="45" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <circle class="yellow" cx="24" cy="24" r="24"></circle><text font-family="montserrat"
                                                                       font-size="17" font-weight="bold" fill="#FFF" text-anchor="middle" x="23.5"
                                                                       y="30.5">02.</text>
        </svg>
        <p>Tim CS akan membuat laporan & melaporkan ke bagian terkait.</p>
      </div>
      <div class="col-md-3">
        <svg width="45" height="45" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <circle class="yellow" cx="24" cy="24" r="24"></circle><text font-family="montserrat"
                                                                       font-size="17" font-weight="bold" fill="#FFF" text-anchor="middle" x="23.5"
                                                                       y="30.5">03.</text>
        </svg>
        <p>Pengaduan Anda akan diproses dan ditangani oleh bagian terkait.</p>
      </div>
      <div class="col-md-3">
        <svg width="45" height="45" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <circle class="yellow" cx="24" cy="24" r="24"></circle><text font-family="montserrat"
                                                                       font-size="17" font-weight="bold" fill="#FFF" text-anchor="middle" x="23.5"
                                                                       y="30.5">04.</text>
        </svg>
        <p>Solusi atas pengaduan akan disampaikan kepada Anda melalui Tim.</p>
      </div>
    </div>
    <p class="catatan">Catatan: Seluruh layanan tersedia sesuai jam operasional Komunal yaitu Senin-Jumat
      pukul 09.00 hingga 17.00, tidak termasuk Hari Libur Nasional.</p>
  </div>
</div>
<!-- End Keuntungan Peminjaman -->

<!-- standar penyelesaian-->
<div class="section section-pengaduan">
  <div class="container">
    <h2 class="title left-pills">Standar Penyelesaian Pengaduan</h2>
    <ul class="grey-ul">
      <li style="border-bottom: 1px aqua solid; padding: 7px;">Informasi atas pertanyaan yang Anda ajukan:
        maks. 1-2 hari kerja.</li>
      <li style="border-bottom: 1px aqua solid; padding: 7px;">Penanganan atas masalah yang Anda hadapi:
        min. 1 hari kerja, maks. 4 hari kerja.</li>
      <li style="padding: 7px">Penanganan atas masalah yang memerlukan tindak lanjut dan koordinasi dengan
        pihak ketiga: min. 1 hari kerja, maks. 14 hari kerja.</li>
    </ul>
  </div>
</div>
<!-- End standar penyelesaian -->

<!-- Terhubung dengan komunal -->
<div class="section section-responsive section-peminjaman" style="background-color: #193b6d;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3 style="color: white; font-size: 31px">Terhubung Bersama Komunal</h3>
        <p class="talk" style="color: white; font-size: 16px">Apabila Anda memiliki pertanyaan, saran, atau kritik
          mengenai layanan Komunal, jangan ragu untuk menghubungi kami melalui salah satu media resmi
          kami diatas atau melalui form kontak disamping. Tim kami akan siap membantu. <br><br> Sertakan
          informasi identitas berupa nama dan nomor telepon untuk mempercepat proses laporan Anda.</p>
      </div>
      <div class="col-md-6">
        <div class="sukubunga" style="background-color: white; border-radius: 10px">
          <h3>Hubungi Kami</h3>
          <form id="simulasiPendanaan" action="https://formspree.io/kukuhaulias@gmail.com" method="POST">
            <div class="form-row">
              <div class="form-group form-group-dana col-md-6">
                <label class="label-dana" for="inputBunga">Nama</label>
                <input type="text" name="nama" class="form-control form-dana" id="inputBunga">
              </div>
              <div class="form-group form-group-dana col-md-6">
                <label class="label-dana" for="inputBunga">Email</label>
                <input type="email" name="email" class="form-control form-dana" id="inputBunga">
              </div>
            </div>
            <div class="form-group form-group-dana">
              <label class="label-dana" for="pesan">Pesan</label>
              <textarea class="form-control" rows="5" id="pesan" name="pesan"></textarea>
              <!-- <input type="text" class="form-control form-dana" id="pesan"> -->
            </div>
            <button type="submit" class="btn btn-primary btn-round center-pills"
                    style="display: block; margin: 10px auto; margin-bottom: 1rem; ">Kirim Pesan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Terhubung dengan komunal -->
