<!--Intro Pendanaan Page-->
<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../assets/img/bgdana.jpg');">
  <div class="gradasi"></div>
  <div class="container">
    <div class="motto pendana row">
      <div id="mendanai-opening" class="col-md-12 col-lg-7 left-pills col-12">
        <h1 class="title-pendanaan"><b>Saatnya Kembangkan Dana Anda di Komunal</b></h1>
      </div>
      <div id="col-keuntungan-4" class="col-md-12 col-lg-5">
        <div class="animated bounceInLeft slow">
          <div id="card-pendanaan-1" class="card">
            <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
              <div class="untungdanai">
                <div class="untungdanai-profile">
                  <img src="../assets/img/icon-45.png" alt="icon-45">
                </div>
                <h4 class="untungdanai-title">Terdaftar dan Diawasi OJK</h4>
                <h3 class="untungdanai-description">Komunal telah terdaftar dan diawasi oleh OJK
                  sejak
                  01 Februari 2019.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="animated bounceInRight slow">
          <div id="card-pendanaan-2" class="card">
            <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
              <div class="untungdanai">
                <div class="untungdanai-profile">
                  <img src="../assets/img/icon-45.png" alt="icon-45">
                </div>
                <h4 class="untungdanai-title">Pilih Sendiri Proyek yang ingin Didanai</h4>
                <h3 class="untungdanai-description">Pilih sendiri dimana Anda ingin
                  mengembangkan
                  dana
                  Anda! Transparan dan aman.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="animated bounceInLeft slow">
          <div id="card-pendanaan-3" class="card">
            <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
              <div class="untungdanai">
                <div class="untungdanai-profile">
                  <img src="../assets/img/icon-45.png" alt="icon-45" width="10%"
                       style="padding: 0px; margin-right: 5px;">
                </div>

                <h4 class="untungdanai-title">Kontribusi Pada UMKM Indonesia</h4>
                <h3 class="untungdanai-description">Dengan mendanai di Komunal, Anda telah
                  berkontribusi
                  untuk meningkatkan perekonomian UMKM Indonesia!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Skema Pendanaan-->
<div class="section section2 text-center">
  <div class="container">
    <h2 class="title center-pills">Skema Pendanaan</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-90.png" alt="img" style="width: 100px">
            <img class="hide-t-l i-1" src="../assets/img/ah.jpg" alt="img">
          </div>
          <div class="description">
            <h4 class="info-title">Registrasi</h4>
            <p>Lakukan pendaftaran sebagai <i>Pendana</i> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-40">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-87.png" alt="img" style="width: 100px">
            <img class="hide-t-l i-2" src="../assets/img/ah2.png" alt="img">
          </div>
          <div class="description">
            <h4 class="info-title">Pilih Proyek</h4>
            <p>Pilih sendiri proyek tersedia yang ingin didanai</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-88.png" alt="img" style="width: 100px">
            <img class="hide-t-l i-1" src="../assets/img/ah.jpg" alt="img">
          </div>
          <div class="description">
            <h4 class="info-title">Checkout</h4>
            <p>Lakukan pembayaran atas pendanaan Anda ke akun Virtual Account Komunal.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-40">
        <div class="info">
          <div class="icon icon-danger">
            <img src="../assets/img/icon-89.png" alt="img" style="width: 100px">
          </div>
          <div class="description">
            <h4 class="info-title">Pengembalian Dana</h4>
            <p>Tunggu pengembalian dana beserta keuntungan sesuai tenor proyek.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Simulasi Pendanaan-->
<div class="section section-pendanaan">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title left-pills">Suku Bunga & Simulasi Pendanaan</h2>
        <div class="sukubunga">
          <h3>Suku Bunga</h3>
          <table class="table table-responsive text-center table-sukubunga">
            <thead>
            <tr>
              <th>Rating</th>
              <th>Suku Bunga <br> Flat</th>
              <th>Suku Bunga <br> Efektif</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>A</th>
              <td>7%-9%</td>
              <td>9%-15%</td>
            </tr>
            <tr>
              <th>B</th>
              <td>9%-12%</td>
              <td>15%-20%</td>
            </tr>
            <tr>
              <th>C</th>
              <td>12%-15%</td>
              <td>20%-25%</td>
            </tr>
            <tr>
              <th>D</th>
              <td>15%-18%</td>
              <td>25%-30%</td>
            </tr>
            <tr>
              <th>E</th>
              <td>18%-20%</td>
              <td>30%-36%</td>
            </tr>
            </tbody>
          </table>
          <p style="font-size: 12px"><i>*belum termasuk biaya admin 2% per tahun dari nilai
            pinjaman.</i></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="sukubunga">
          <h3>Simulasi Pendanaan</h3>
          <form id="simulasiPendanaan">
            <div class="form-group form-group-dana">
              <label class="label-dana" for="inputJumlah">Jumlah Pendanan</label>
              <input type="text" name="jumlah" class="form-control form-dana" id="inputJumlah">
              <label id="error-jumlah" class="error-sukubunga"></label>
            </div>
            <div class="form-row">
              <div class="form-group form-group-dana col-md-6 col-6">
                <label class="label-dana" for="inputBunga">Suku Bunga %</label>
                <input type="text" name="bunga" class="form-control form-dana" id="inputBunga">
                <label id="error-bunga" class="error-sukubunga"></label>
              </div>
              <div class="form-group form-group-dana col-md-6 col-6">
                <label class="label-dana" for="inputTenor">Tenor</label>
                <label id="error-tenor" class="error-sukubunga"></label>
                <select id="inputTenor" name="tenor" class="form-control form-dana">
                  <option value="1">1 Bulan</option>
                  <option value="3">3 Bulan</option>
                  <option value="5">5 Bulan</option>
                  <option value="6">6 Bulan</option>
                  <option value="12">12 Bulan</option>
                  <option value="18">18 Bulan</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label class="label-dana">Tipe Pengembalian : </label>
              </div>
              <div class="form-group col-md-3 col-6">
                <div class="form-check-radio color-radio">
                  <label class="form-check-label label-radio-dana">
                    <input class="form-check-input" type="radio" name="jenis_pembayaran"
                           id="idBulanan" value="bulanan" checked> Bulanan
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
              <div class="form-group col-md-4 col-6">
                <div class="form-check-radio color-radio">
                  <label class="form-check-label label-radio-dana">
                    <input class="form-check-input" type="radio" name="jenis_pembayaran"
                           id="idPenuh" value="penuh"> Bullet/Penuh
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 1rem;">
              <div class="col-md-3 col-3 align-self-center">
                <img class="img-simulasi" src="../assets/img/icon-66.png" alt="icon-66"
                     width="140px">
              </div>
              <div class="col-md-9 col-9">
                <h4 id="judul"
                    style="font-weight:500; color: #98B825 !important; font-size: 20px">
                  <i>Estimasi Pengembalian Dana Perbulan : </i></h4>
                <h4 id="income"
                    style="margin-top: 10px;font-weight:600;font-size:28px; color: #98B825 !important">
                  IDR 0</h4>
              </div>
            </div>

            <a href="javascript:void(0)" class="btn-pendanaan" onclick="kalkulasi()"
               style="font-weight:600">kalkulasi Pendanaan
            </a>
          </form>
        </div>
        <p style="font-size: 12px; margin-top: 10px"><i>*belum termasuk biaya admin 2% per tahun dari
          nilai
          pinjaman.</i></p>
      </div>
    </div>
  </div>
</div>
<!--Fitur Pendanaan-->
<div class="section section-listjob" style="padding-top: 0px !important;">
  <div class="container">
    <h2 class="title">Fitur Pendanaan</h2>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
          <a class="nav-link link-job active" id="v-pills-home-tab" data-toggle="pill"
             href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Auto
            Lending <span class="badge badge-pill badge-warning">Baru</span></a>
          <a class="nav-link link-job" id="v-pills-settings-tab" data-toggle="pill"
             href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
             aria-selected="false" style="border: none">Asuransi</a>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-desc-career">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
               aria-labelledby="v-pills-home-tab">
                                <span><fa-icon [icon]="faSyncAlt" class="fa-sync-alt"></fa-icon>
                                    <h4 class="judul-job" style="display: inline-block">Auto Lending</h4>
                                </span>

            <p class="deskripsi-job">
              Fitur terbaru Komunal yang akan mempermudah Anda untuk memaksimalkan dana investasi
              sesuai bunga dan tenor yang Anda kehendaki!
            </p>
            <p class="deskripsi-job">
              Cukup atur bunga dan tenor yang Anda inginkan pada dashboard pendanaan Anda, maka
              imbal balik dana investasi Anda akan di kembangkan kembali pada proyek lainnya.
              Temukan fitur ini pada halaman Dashboard Anda!
            </p>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
               aria-labelledby="v-pills-settings-tab">
                                <span><fa-icon [icon]="faShieldAlt" class="fa-shield-alt"></fa-icon>
                                    <h4 class="judul-job" style="display: inline-block">Asuransi</h4>
                                </span>
            <p class="deskripsi-job">Asuransi kredit meng-cover 80% dari nilai pinjaman yang tidak
              terbayar setelah 90 hari</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Ayo Mendanai lur-->
<div class="section section-responsive section-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-sm-5 text-right" style="background-color: #fff">
        <img class="hand" src="../assets/img/hand.png">
      </div>
      <div class="col-lg-7 col-12 ayo-mendanai">
        <h4 class="info-title-hp">Mulai Mendanai Sekarang!</h4>
        <p class="info-desc-hp">Mulai mendanai sekarang dan nikmati berbagai keuntungannya! Yuk,
          kembangkan danamu bersama Komunal!</p>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-danger btn-round center-pills"
                    style="margin-bottom: 1rem">Mendanai Sekarang</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
