.activelink:hover::after {
  width: 100%;
}

.activelink::after {
  content: '';
  display: block;
  height: 4px;
  width: 18px;
  background: #FFF;
  border-radius: 10px;
  transition: width .3s;
  position: relative;
  top: 5px;
}

select.nav-link.dropdown-toggle.language-select {
  background-color: #fff0;
  border: none;
  font-weight: 600;
}

option.list-language{
  color: #0e274d;
}

